<!DOCTYPE html>
<html>

<head>

    <title>Analytics Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">

</head>

<body>

<div class="dashboard">

    <!-- Sidebar -->

    <div class="sidebar">

        <h2>🌍 Disaster System</h2>

        <a href="/">🏠 Dashboard</a>

        <a href="/report">📝 Report Incident</a>

        <a href="/weather">🌦 Weather Alerts</a>

        <a href="/incidents">📋 Incident Reports</a>

        <a href="/analytics">📈 Analytics</a>

    </div>

    <!-- Main Content -->

    <div class="main-content">

        <div class="card">

            <h2>📈 Disaster Analytics</h2>

            <p>Total Hospitals: 2 </p>

            <p>Total Shelters: 2 </p>

            <p>Total Safe Zones: 2</p>

        </div>

    </div>

</div>

</body>

</html>