<!DOCTYPE html>
<html>

<head>

    <title>Disaster Management Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">

</head>

<body>

<div class="dashboard">

    <!-- Sidebar -->

    <div class="sidebar">

        <h2>🌍 Disaster System</h2>

        <a href="/">🏠 Dashboard</a>

        <a href="/analytics">📈 Analytics</a>

        <a href="/emergency">🚑 Emergency Services</a>

        <a href="/safezones">🛡 Safe Zones</a>

    </div>

    <!-- Main Content -->

    <div class="main-content">

        <div class="card">

            <h3>⚠ Disaster Alert</h3>

            <p>
                Heavy rainfall warning in Tirupati region.
                Stay near emergency shelters.
            </p>

        </div>

        <div class="card">

            <h3>📊 System Status</h3>

            <p>Hospitals Active: {{ hospital_count }}</p>

<p>Shelters Active: {{ shelter_count }}</p>

<p>Safe Zones Available: {{ safezone_count }}</p>

        </div>

        <div class="card">

            <h3>🗺 Live Disaster Map</h3>
            <a href="https://www.google.com/maps/dir/?api=1&destination=13.6400,79.4250"
   target="_blank">

    <button class="nav-btn">

        🧭 Navigate to Shelter

    </button>

</a>

            <div class="map-container">

                {{ map_html|safe }}

            </div>

        </div>

    </div>

</div>

</body>

</html>